{% extends "admin/base_site.html" %}
{% load i18n static admin_urls %}

{% block extrastyle %}
  <style>
    .forms-panel .helptext {
      display: block;
      font-size: 0.8em;
      color: #bbb;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; 
    <a href="{% url opts|admin_urlname:'change' subsidy_access_policy.uuid %}">
      {{ subsidy_access_policy|truncatewords:"18" }}
    </a>
  &rsaquo; {% trans "Set Late Redemption" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <div class="forms-panel">
    <h1>{% trans "Set Late Redemption" %}</h1>
    <p>
      This tool enables a window for temporary "late" enrollments into exec ed presentations using funds from this
      particular policy/budget. On this screen, select how many days the intended (properly equipped) learners will have
      to complete the late enrollments, and click submit. The capability to enroll late expires at midnight UTC X
      calendar days in the future, according to your selection.
    </p>
    <p>
      At a high level there are three steps to enable late enrollment into an exec ed presentation:
    </p>
    <ol>
      <li>Leverage this tool to temporarily enable late enrollment on the budget</li>
      <li>Assign the course to the intended learner (if budget mandates assignments)</li>
      <li>Craft a URL for enrollment and share with learner</li>
    </ol>
    <p>
      For steps 2 and 3, please follow this
      <a href="https://2u-internal.atlassian.net/wiki/spaces/SOL/pages/997883909/Late+Enrollment+into+Exec+Ed+Presentations+w+Learner+Credit">
        thorough guide
      </a>
      on setting up and executing a late enrollment on behalf of a customer. Late enrollment is not possible in all
      cases, as described in the "Conditions" section of the guide.
    </p>
    <form action="" method="post" enctype="multipart/form-data" id="set-late-redemption-form">
      {% csrf_token %}
      {# as_p will render the form fields wrapped in <p> tags: #}
      {{ set_late_redemption_form.as_p }}
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}
