version: "2.1"
services:
  db:
    image: mysql:8.0.28-oracle
    container_name: enterprise_access.db
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    networks:
      - devstack_default
    volumes:
      - enterprise_access_mysql8:/var/lib/mysql

  memcache:
    image: memcached:1.4.24
    container_name: enterprise_access.memcache

  app:
    # Uncomment this line to use the official enterprise_access base image
    image: openedx/enterprise-access:latest-devstack

    container_name: enterprise_access.app
    volumes:
      - .:/edx/app/enterprise-access/
    command: bash -c 'while true; do python /edx/app/enterprise-access/manage.py runserver 0.0.0.0:18270; sleep 2; done'
    environment:
      DJANGO_SETTINGS_MODULE: enterprise_access.settings.devstack
    ports:
      - "18270:18270" # TODO: change this to your port
    depends_on:
      - db
      - worker
    networks:
      - devstack_default
    stdin_open: true
    tty: true
    environment:
      CELERY_ALWAYS_EAGER: 'false'
      CELERY_BROKER_TRANSPORT: redis
      CELERY_BROKER_HOSTNAME: edx.devstack.redis:6379
      CELERY_BROKER_VHOST: 0
      CELERY_BROKER_PASSWORD: password
      DJANGO_SETTINGS_MODULE: enterprise_access.settings.devstack
      DJANGO_WATCHMAN_TIMEOUT: 30
      ENABLE_DJANGO_TOOLBAR: 1

  worker:
    image: openedx/enterprise-access.worker:latest-devstack
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c 'cd /edx/app/enterprise-access/ && celery -A enterprise_access worker -l DEBUG'
    container_name: enterprise_access.worker
    depends_on:
      - db
    environment:
      CELERY_ALWAYS_EAGER: 'false'
      CELERY_BROKER_TRANSPORT: redis
      CELERY_BROKER_HOSTNAME: edx.devstack.redis:6379
      CELERY_BROKER_VHOST: 0
      CELERY_BROKER_PASSWORD: password
      DJANGO_SETTINGS_MODULE: enterprise_access.settings.devstack
      COLUMNS: 80
    hostname: worker.enterprise_access
    networks:
      - devstack_default
    ports:
      - "18271:18271"
    restart: always
    stdin_open: true
    tty: true
    volumes:
      - .:/edx/app/enterprise-access/

networks:
  devstack_default:
    external: true

volumes:
  enterprise_access_mysql8:
